body{
    background-image: url(../img/History-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2{
    font-size: 64px;
    font-weight: bold;
    padding-top: 150px;
}

h3{
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 30px;
}

h4{
    font-size: 38px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    text-align: center; 
}

p{
    font-size: 20px;
}

section{
    padding-top: 7px;
}

section:first-child{
    padding-top: 0px;
    margin-bottom: 50px;
}

.fact-block{
    position: absolute;
    display: grid;
    grid-template-columns: 189px 169px;
    column-gap: 23px;
    height: 200px;
    padding: 23px;
    background-color: var(--dark_color);
    border-radius: 13px;
    cursor: pointer;
}

.fact-short-text{
    align-self: center;
}

.fact-img-block{
    align-self: center;
    max-height: 154px;
    overflow: hidden;
}

section{
    position: relative;
}

.open-fact{
    position: fixed;
    padding: 40px;
    top: 100px;
    left: 50%;
    z-index: 101;
    transform: translateX(-50%);
    border-radius: 20px;
    border: var(--dark-stroke-style);
    background-color: var(--main_color);
    height: 500px;
    overflow-y: scroll;
}

.full-img-block{
    height: 300px;
}

.full-img-block>img{
    width: auto;
    height: 100%;
}

.fact-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.close{
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: rotate .2s;
}

.close:hover, .close:focus, .close:active{
    rotate: 180deg;
}

.fact-short-text{
    font-size: 14px;
}

footer{
    margin-top: 50px;
}

@media screen and (width < 1300px){
    h2{
        font-size: 54px;
    }
    h3{
        font-size: 42px;
    }
    p{
        font-size: 18px;
    }
}

@media screen and (width <= 768px) {
    p{
        font-size: 16px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 36px;
    }
}

@media screen and (width < 644px) {
    p{
        font-size: 14px;
    }
    h2{
        font-size: 42px;
    }
    h3{
        font-size: 32px;
    }
    .fact-short-text{
        font-size: 13px;
    }
}

@media screen and (width < 457px) {
    p{
        font-size: 14px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 26px;
    }
    .fact-block{
        position: static;
        grid-template-columns: 1fr;
        row-gap: 10px;
        height: auto;
        margin-top: 23px;
    }
    .fact-img-block{
        justify-self: center;
    }

    .open-fact{
        position: fixed;
        padding: 40px;
        top: 0;
        left: 50%;
        z-index: 101;
        transform: translateX(-50%);
        border-radius: 0;
        border: initial;
        background-color: var(--main_color);
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }

    .fact-wrap{
        margin: 0 auto;
    }

    .full-img-block{
        padding-top: 35px;
    }
}