.info{
    background: url(../img/map-fon.png) no-repeat top right;
    background-attachment: local;
    padding-top: 141px;
}

.wrapper>h3, .wrapper>p{
    font-size: 24px;
    font-weight: medium;
}

h3{
    color: var(--white_color);
    padding-bottom: 12px
}

.choise{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
}

.choise-item{
    margin: 0 auto;
    color: var(--white_color);
    font-size: 36px;
    padding-bottom: 10px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

.choise-item:hover{
    background-size: 100% 2px;
}

.line{
    margin-bottom: 60px;
}

.show-choise{
    margin: 40px 0 80px 0;
}

.change-box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 40px;
    height: 726px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.change-box::-webkit-scrollbar{
    display: none;
}

#map {
    z-index: 0;
    width: 100%;
    width: 1240px;
    height: 630px;
    padding: 0;
    margin: 0;
}

#place_for_text{
    width: 100%;
    margin-bottom: 40px;
}

#place_for_text>h3{
    font-size: 30px;
}

#place_for_text>p{
    font-size: 20px;
}

.vuz-list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow-y: scroll;
}

.vuz-list::-webkit-scrollbar{
    display: none;
}

.vuz-block{
    background-color: var(--dark_color);
    color: var(--white_color);
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    border-radius: 15px;
}

.text-vuz-box>h3{
    margin: 4px;
}

.img-vuz-box{
    max-width: 311px;
    height: 263px;
}

.text-vuz-box>p:first-child{
    font-size: 20px;
}

.text-vuz-box>p:last-child{
    font-size: 24px;
    text-align: end;
}