.info{
    background: url(../img/map-fon.png) no-repeat top right;
    background-attachment: fixed;
    padding-top: 141px;
}

.wrapper>p{
    font-size: 20px;
    font-weight: 4%;
    font-weight: medium;
}

h3{
    padding-top: 3px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: medium;
    color: var(--white_color);
    padding-bottom: 12px
}

.choise{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
}

.choise-item{
    margin: 0 auto;
    color: var(--white_color);
    font-size: 36px;
    padding-bottom: 10px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

.choise-item:hover{
    background-size: 100% 2px;
}

.line{
    margin-bottom: 60px;
}

.show-choise{
    margin-top: 40px;
    padding-bottom: 80px;
}

.change-box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 40px;
    height: 726px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: all .2 ease-in-out;
}

.change-box::-webkit-scrollbar, .map::-webkit-scrollbar{
    display: none;
}

#map {
    z-index: 0;
    width: 1240px;
    height: 630px;
    padding: 0;
    margin: 0;
}

.show-vuz::-webkit-scrollbar{
    display: none;
}

#place_for_text{
    width: 100%;
    margin-bottom: 40px;
}

#place_for_text>h3{
    font-size: 30px;
}

#place_for_text>p{
    font-size: 20px;
}

.vuz-list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow-y: scroll;
}

.vuz-list::-webkit-scrollbar{
    display: none;
}

.vuz-block{
    background-color: var(--dark_color);
    width: 1240px;
    display: grid;
    grid-template-columns: 311px auto;
    column-gap: 40px;
    padding: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.text-vuz-box>h3{
    margin: 4px;
}

.img-vuz-box{
    max-width: 311px;
    height: auto;
    overflow: hidden;
}

.img-vuz-box>img{
    object-fit: cover;
    height: 100%;
}

.text-vuz-box>p:first-child{
    font-size: 20px;
}

.text-vuz-box>p:last-child{
    font-size: 24px;
    padding-top: 23.9px;
}

.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.filter-button{
    padding: 12px 24px;
    background: var(--main_color);
    border-radius: 30px;
    border: var(--dark-stroke-style);
    font-size: 20px;
    color: var(--white_color);
    margin: 10px 5px 0 5px;
}

#list{
    height: 726px;
    width: fit-content;
    overflow: scroll;
}

#list-box{
    position: relative;
}

#list::-webkit-scrollbar{
    display: none;
}

.vuz-close{
    position: absolute;
    top: 40px;
    right: 40px;
    rotate: 0;
    transition: rotate .2s;
    cursor: pointer;
}

.vuz-close:hover, .vuz-close:focus, .vuz-close:active{
    rotate: 180deg;
}

.arrow-up{
    border-radius: 50%;
    background-color: var(--lite-dark-color);
    position: absolute;
    padding: 12.5px;
    right: 40px;
    bottom: 40px;
}

@media screen and (width < 1300px){
    h1{
        font-size: 54px;
    }
    .wrapper>p, #place_for_text>p, .filter-button{
        font-size: 18px;
    }
    .filter-button{
        padding: 10px 20px;
        margin: 8px 4px 0 4px;
    }
    .choise-item{
        font-size: 32px;
    }
    #place_for_text>h3 {
        font-size: 30px;
    }
    .filter{
        margin: 0;
    }   
    .text-vuz-box>h3{
        font-size: 22px;
    } 
    .text-vuz-box>p:last-child{
        font-size: 18px;
    }
    .text-vuz-box>p:first-child{
        font-size: 14px;
    }
    .arrow-up{
        transform: scale(.9);
    }
}

@media screen and (width < 772px) {
    .vuz-block{
        grid-template-columns: 200px auto;
    }

    .text-vuz-box>p:last-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (width <= 768px) {
    .wrapper>p, #place_for_text>p, .filter-button{
        font-size: 16px;
    }
    .filter-button{
        padding: 10px 20px;
        margin: 7px 3px 0 3px;
    }
    h1{
        font-size: 48px;
    }
    .choise-item{
        font-size: 28px;
    }
    #place_for_text>h3 {
        font-size: 26px;
    }
    .text-vuz-box>h3{
        font-size: 20px;
        max-width: 150px;
    } 
    .text-vuz-box>p:last-child{
        font-size: 16px;
    }
    .text-vuz-box>p:first-child{
        font-size: 12px;
    }
    .arrow-up{
        transform: scale(.8);
    }
}

@media screen and (width < 644px) {
    .wrapper>p, #place_for_text>p, .filter-button{
        font-size: 14px;
    }
    .filter-button{
        padding: 7px 14px;
        margin: 6px 3px 0 3px;
    }
    h1{
        font-size: 42px;
    }
    .choise-item{
        font-size: 24px;
    }
    #place_for_text>h3 {
        font-size: 22px;
    }
    .text-vuz-box>h3{
        font-size: 18px;
    } 
    .text-vuz-box>p:last-child{
        font-size: 14px;
    }
    .text-vuz-box>p:first-child{
        font-size: 10px;
    }
    .arrow-up{
        transform: scale(.7);
    }
}

@media screen and (width < 565px) {
    .vuz-block{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    .img-vuz-box{
        max-width: 100%;
    }
}

@media screen and (width < 457px) {
    .wrapper>p, #place_for_text>p, .filter-button{
        font-size: 14px;
    }
    .filter-button{
        padding: 7px 14px;
        margin: 6px 3px 0 3px;
    }
    h1{
        font-size: 36px;
    }
    .text-vuz-box>h3{
        font-size: 16px;
    } 
    .text-vuz-box>p:last-child{
        font-size: 13px;
    }
    .text-vuz-box>p:first-child{
        font-size: 10px;
    }
}