:root{
    --main_color: #2A2A2A;
    --disactive-menu: #333333;
    --active-menu: #444444;
    --dark_color: #191919;
    --white_color: #FFFFFF;
    --link_text_color: #14B9FF;
    --lite-dark-color: #595959;
    --stroke_style: 1px solid #595959;
    --dark-stroke-style: 2px solid #191919;
    --header-fon: rgba(25, 25, 25, 0);
    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    --main-font: 'Montserrat';
}

*::-webkit-scrollbar {
    width: 8px;
    right: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark_color);
    border-radius: 4px;
}

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v26-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body{
    background-color: var(--main_color);
    overflow-x: hidden;
    font-family: var(--main-font);
}

h1{
    font-size: 64px;
    font-weight: bold;
    max-width: 706px;
    color: var(--white_color);
}

li, h2, h5, h3, h4, p{
    color: var(--white_color);
    line-height: 130%;
    letter-spacing: .04rem;
    text-align: justify;
}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.lit-wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--header-fon);
    padding: 17px 0;
    z-index: 100;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 65px;
}

.header_text{
    color: var(--white_color);
    font-size: 20px;
    text-shadow: var(--text-shadow);
    background-image: linear-gradient(currentColor, currentColor);
    padding-bottom: 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.header_text:hover{
    background-size: 100% 2px;
}

footer{
    background-color: var(--dark_color);
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 35px 0;
}

.footer-info{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.footer-contacts>p{
    font-size: 20px;
    padding-bottom: 9px;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    column-gap: 13px;
}

.names{
    display: flex;
    flex-direction: column;
    height: 127px;
    justify-content: space-between;
}

.names>li>p{
    font-size: 16px;
}

.media{
    display: flex;
    flex-direction: column;
    height: 127px;
    justify-content: space-between;
}

.media>li{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.footer-link{
    font-size: 20px;
}

.line{
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background-color: var(--white_color);
}

@media screen and (width < 1300px){
    .wrapper, .lit-wrapper{
        margin: 0 15px;
    }
    h1{
        font-size: 54px;
    }
}

@media screen and (width <= 768px) {
    li, p{
        font-size: 14px;
    }

    header{
        padding: 10px 0;
    }

    .navigation{
        column-gap: 0;
        width: 320px;
        justify-content: space-between;
    }

    .header_text{
        font-size: 14px;
    }

    #menu-list{
        position: absolute;
        border-radius: 4px;
        /* overflow: hidden; */
    }
    
    .menu_item{
        color: var(--white_color);
        background-color: var(--disactive-menu);
        padding: 6px 9px;
        width: auto;
        text-align: center;
    }
    
    #menu-lines{
        transition: 0.3s all;
        transform: scale(.8);
    }
    
    .vuz-box{
        transform: translateY(-127px);
        transform: translateX(100%);
    }
    
    .vuz-name{
        color: var(--white_color);
        background-color: var(--disactive-menu);
        width: 121px;
        text-align: left;
    }
    
    .vuz-name>a>div{
        width: 100%;
        padding: 6px 0;
        padding-left: 6px;
    }
    
    .menu_item:hover, .vuz-name:hover{
        background-color: var(--active-menu);
    }

    h1{
        font-size: 48px;
    }

    
}

@media screen and (width > 768px){
    .menu{
        display: grid;
        grid-template-columns: auto 18px;
        align-items: center;
        column-gap: 14px;
        cursor: pointer;
    }

    .menu>p{
        font-size: 20px;
        text-shadow: var(--text-shadow);
    }

    .menu>img{
        rotate: 0;
        transition: rotate .3s;
    }

    #menu-block{
        width: 100%;
        position: fixed;
        z-index: 99;
        height: 0;
        background-color: #191919;
        overflow: hidden;
    }

    #menu-list{
        width: 100%;
        display: flex;
        max-width: 1240px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 83px;
        padding-bottom: 23px;
        opacity: 0;
    }

    .menu_item{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        background-color: var(--main_color);
        padding: 17px 19px;
        border-radius: 13px;
        border: var(--stroke_style);
    }

    .menu_item>h5{
        color: var(--white_color);
        font-size: 22px;
    }

    .menu_item>p{
        font-size: 18px;
    }

    .menu_item:first-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
    }

    .menu_item:first-child>h5{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (width < 875px) {
    .footer-content{
        display: flex;
        justify-content: space-between;
        row-gap: 26px;
    }
}

@media screen and (width < 644px) {
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 26px;
    }

    .footer-link{
        font-size: 16px;
    }

    .footer-contacts>p{
        font-size: 16px;
    }

    .names>li>p{
        font-size: 14px;
    }
}

@media screen and (width < 453px) {
    h1{
        font-size: 40px;
    }

    header{
        padding: 7px 0;
    }

    .footer-contacts{
        overflow-x: scroll;
    }

    .contacts{
        min-width: 423px;
    }

    .footer-link{
        font-size: 14px;
    }

    .footer-contacts>p{
        font-size: 14px;
    }

    .names>li>p{
        font-size: 12px;
    }

    #menu-lines{
        transition: 0.3s all;
        transform: scale(.6);
    }

    .navigation{
        width: 260px;
    }

    .header_text{
        font-size: 12px;
    }
}
