:root{
    --main_color: #2A2A2A;
    --disactive-menu: #333333;
    --active-menu: #444444;
    --dark_color: #191919;
    --white_color: #FFFFFF;
    --link_text_color: #14B9FF;
    --stroke_style: 1px solid #595959;
    --header-fon: rgba(25, 25, 25, 0);
    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
}

/* Работает в Firefox */
/* * {
    scrollbar-width: 12px;
    scrollbar-color: var(--dark_color) transparent;
} */

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
    width: 8px;
    right: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark_color);
    border-radius: 4px;
}

body{
    background-color: var(--main_color);
    overflow-x: hidden;
}

h1{
    font-size: 64px;
    font-weight: bold;
    max-width: 667px;
    color: var(--white_color);
}

p{
    color: var(--white_color);
}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.lit-wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--header-fon);
    padding: 17px 0;
    z-index: 100;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 65px;
}

.header_text{
    color: var(--white_color);
    font-size: 20px;
    text-shadow: var(--text-shadow);
    background-image: linear-gradient(currentColor, currentColor);
    padding-bottom: 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.header_text:hover{
    background-size: 100% 2px;
}

@media screen and (width <= 768px) {
    header{
        position: absolute;
    }

    #menu-list{
        position: absolute;
        border-radius: 4px;
        /* overflow: hidden; */
    }
    
    .menu_item{
        color: var(--white_color);
        background-color: var(--disactive-menu);
        padding: 6px 0;
        width: 121px;
        text-align: center;
    }
    
    #menu-lines{
        transition: 0.3s all;
    }
    
    .vuz-box{
        transform: translateY(-127px);
        transform: translateX(100%);
    }
    
    .vuz-name{
        color: var(--white_color);
        background-color: var(--disactive-menu);
        width: 121px;
        text-align: left;
    }
    
    .vuz-name>a>div{
        width: 100%;
        padding: 6px 0;
        padding-left: 6px;
    }
    
    .menu_item:hover, .vuz-name:hover{
        background-color: var(--active-menu);
    }
}

@media screen and (width > 768px){
    .menu{
        display: grid;
        grid-template-columns: auto 18px;
        align-items: center;
        /* flex-wrap: wrap;
        flex-direction: row; */
        column-gap: 14px;
        cursor: pointer;
    }

    .menu>p{
        font-size: 20px;
        text-shadow: var(--text-shadow);
    }

    .menu>img{
        rotate: 0;
        transition: rotate .3s;
    }

    #menu-block{
        width: 100%;
        position: fixed;
        height: 0;
        background-color: #191919;
        overflow: hidden;
    }

    #menu-list{
        width: 100%;
        display: flex;
        max-width: 1240px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 83px;
        padding-bottom: 23px;
        opacity: 0;
    }

    .menu_item{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        background-color: var(--main_color);
        padding: 17px 19px;
        border-radius: 13px;
        border: var(--stroke_style);
    }

    .menu_item>h5{
        color: var(--white_color);
        font-size: 22px;
    }

    .menu_item>p{
        font-size: 18px;
    }

    .menu_item:first-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
    }

    .menu_item:first-child>h5{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

footer{
    background-color: var(--dark_color);
}

.footer-content{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    padding: 35px 0;
}

.footer-link{
    font-size: 16px;
}