:root{
    --main_color: #2A2A2A;
    --disactive-menu: #333333;
    --active-menu: #444444;
    --dark_color: #191919;
    --white_color: #FFFFFF;
    --link_text_color: #14B9FF;
    --header-fon: rgba(25, 25, 25, 0);
    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
}

/* Работает в Firefox */
/* * {
    scrollbar-width: 12px;
    scrollbar-color: var(--dark_color) transparent;
} */

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
    width: 8px;
    right: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark_color);
    border-radius: 4px;
}

body{
    background-color: var(--main_color);
    overflow-x: hidden;
}

h1{
    font-size: 64px;
    font-weight: bold;
    max-width: 667px;
    color: var(--white_color);
}

p{
    color: var(--white_color);
}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.lit-wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--header-fon);
    padding: 17px 0;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 65px;
}

.header_text{
    color: var(--white_color);
    font-size: 20px;
    text-shadow: var(--text-shadow);
}

#menu-list{
    position: absolute;
    border-radius: 4px;
    /* overflow: hidden; */
}

.menu_item{
    color: var(--white_color);
    background-color: var(--disactive-menu);
    padding: 6px 0;
    width: 121px;
    text-align: center;
}

#menu-lines{
    transition: 0.3s all;
}

.vuz-box{
    transform: translateY(-127px);
    transform: translateX(100%);
}

.vuz-name{
    color: var(--white_color);
    background-color: var(--disactive-menu);
    width: 121px;
    text-align: left;
}

.vuz-name>a>div{
    width: 100%;
    padding: 6px 0;
    padding-left: 6px;
}

.menu_item:hover, .vuz-name:hover{
    background-color: var(--active-menu);
}

footer{
    background-color: var(--dark_color);
}

.footer-content{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    padding: 35px 0;
}

.footer-link{
    font-size: 16px;
}